
{% extends "main.html"%}
{%block content%}

 <h1>This is a main content page</h1>
 <P>{{msg}}</P>

 {% if number > 10 %}
 <p>Number is greater than ten</p>
 {% else %}
 <p>Number is Less than ten</p>

 {%endif%}

 <table>
    
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Votes</th>
            <th>Ratio</th>
            <th>Date</th>
            <th>Details Click</th>

            {% for product in projects %}

            <tr>
                 <td>{{product.id}}</td>
                <td>{{product.title}}</td>
                <td>{{product.vote_total}}</td>
                <td>{{product.vote_ratio}}</td>
                  <td>{{product.created}}</td>
               <td> <a href="/project/{{product.id}}">View</a></td>
                
            </tr>
            {% endfor%}
           
        </tr>
 
 </table>

 <ul>
    {% for product in projects %}
    <li>Name:<a href="/project/{{product.id}}">{{product.title}}</a> </li>



    {%endfor%}
 </ul>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore earum dolores, architecto cumque neque necessitatibus iste perferendis laborum facere. Iure, illo. Delectus ducimus 
    accusantium doloribus officiis obcaecati numquam? Quibusdam, distinctio?</p>
{%endblock content%}